{{#if isSaving}}
{{x-spinner}}
{{/if}}
<div class="toolbar clearfix">
  <button class="btn btn-primary" {{action save}} {{bind-attr disabled=isSaving}}>Save</button>
  {{#link-to 'wiki.index' class="btn btn-warning pull-right" disabled=isSaving}}Discard{{/link-to}}
</div>
{{input value=title placeholder="Give a title" class="form-control" disabled=isSaving autofocus="true"}}
<br>
{{textarea value=body placeholder="Write some markdown..." class="form-control" rows="10" disabled=isSaving}}
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Preview</h3>
  </div>
  <div class="panel-body">
    {{format-markdown body}}
  </div>
</div>