<h2>Login</h2>
<div class="row">
  <div class="col-sm-8">
    {{#if hasErrorMessage}}
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
    {{/if}}
    {{#if isLoggingIn}}
    {{x-spinner}}
    {{/if}}
    <form role="form" {{action 'login' on='submit'}} class="login">
      <div class="form-group">
        <label for="username">User name</label>
        {{input value=username type="text" class="form-control" 
        id="username" placeholder="User name" autofocus="true" disabled=isLoggingIn}}
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        {{input value=password type="password" class="form-control" 
        id="password" placeholder="Password" disabled=isLoggingIn}}
      </div>
      <button type="submit" class="btn btn-primary pull-right" {{bind-attr disabled='isLoggingIn'}}>Login</button>
    </form>
  </div>
</div>